<ion-header>
  <ion-toolbar>
    <ion-title>Zonas de boulde en chile</ion-title>
    <ion-title>prueba</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-item>
          <ion-avatar slot="start"> 
            <ion-img src="../../assets/icon/climb.png" ></ion-img> 
          </ion-avatar>
          <ion-label >
            <h2>Zona karen</h2>            
            <p> sub sectores = 3 , bloques total 100 </p>
          </ion-label>
        </ion-item>
      </ion-item>
      <ion-item>
        <ion-item>
          <ion-avatar slot="start"> 
            <ion-img src="../../assets/icon/climb.png" ></ion-img> 
          </ion-avatar>
          <ion-label>
            <h2>Jurasic </h2>
            <p> sub sectores = 3 , bloques total 100 </p>
          </ion-label>
        </ion-item>
      </ion-item>
      <ion-item>
        <ion-item>
          <ion-avatar slot="start"> 
            <ion-img src="../../assets/icon/climb.png" ></ion-img> 
          </ion-avatar>
          <ion-label>
            <h2>Golden</h2>            
            <p> sub sectores = 3 , bloques total 100 </p>
          </ion-label>
        </ion-item>
      </ion-item>
      <ion-item>
        <ion-item>
          <ion-avatar slot="start"> 
            <ion-img src="../../assets/icon/climb.png" ></ion-img> 
          </ion-avatar>
          <ion-label>
            <h2>chat de grupo</h2>
            <h3>esto es un chat</h3>
            <p>esto es una aplicacion de mensaje</p>
          </ion-label>
        </ion-item>
      </ion-item>
    </ion-list>
</ion-content>
