<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Zonas de boulder de Chile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <div *ngFor = "let objeto of boulderZones" class="box">
    <ion-grid>
    <ion-row  (click)="abrirzonadebloque(objeto)">
      <ion-col size = "4" >
        <img height="200px"  src="{{objeto.imagen}}" >
      </ion-col>
      <ion-col size="8">
        <h6><b>{{objeto.nombre}}</b></h6> 
        <p >{{objeto.descripcion}}</p>        
      </ion-col>
    </ion-row>
  </ion-grid>
 </div> 
</ion-content>
