<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating"> Correo electronico </ion-label>
    <ion-input type="email" [(ngModel)]="email"  name="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> contraseña </ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>

  <br>

  <ion-button (click)="registerEmail()" expand="block"> Regitrarse </ion-button>

</ion-content>
